@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@1,600&family=Poppins&family=Voltaire&display=swap');

$primary-color:#1D3557;
$secondary-color:rgba(72, 150, 239, 0.70);
$tertiary-color:#001233;
$blue-color:#0466C8;
$greenBlue-color:#A8DADC;
$orange-color:#E07A5F;
$yellow-color:#e9c46a;
$red-color:#E63946;
$secondary-font:'Montserrat', sans-serif;