@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@1,600&family=Poppins&family=Voltaire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Voltaire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Voltaire&display=swap");
.navbar {
  height: 140px;
  background-color: #0466C8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  transition: top 300ms ease-in-out;
}
.navbar .callToAction {
  background-color: #1D3557;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .callToAction h1 {
  color: #e7cc42;
  font-size: 18px;
}
.navbar .mainNav {
  height: 100px;
  padding: 0px 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.navbar .mainNav .logoArea {
  background-color: #fff;
  height: 100px;
  width: 100px;
}
.navbar .mainNav .logoArea img {
  width: 100%;
  height: 100%;
}
.navbar .mainNav .burgerMenu {
  width: 25px;
  height: fit-content;
  display: none;
}
.navbar .mainNav .burgerMenu span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #fff;
}
.navbar .mainNav .burgerMenu span:not(:last-child) {
  margin-bottom: 3px;
}
.navbar .mainNav .links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: fit-content;
}
.navbar .mainNav .links .active a {
  background-color: #03407d;
  color: #fff;
}
.navbar .mainNav .links li {
  width: 180px;
  height: 50px;
  align-items: center;
  transition-property: all;
  transition-duration: 200ms;
}
.navbar .mainNav .links li a {
  background-color: #3799fb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100%;
  width: 100%;
}
.navbar .mainNav .links li:hover:not(.active) > a {
  color: #fff;
  background-color: #0459af;
}

.mobileNav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  max-height: 500px;
  height: 100%;
  background-color: #002255;
  z-index: 2000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  transition: all 300ms ease-in-out;
}
.mobileNav .close {
  position: absolute;
  right: 30px;
  top: 30px;
  display: flex;
  width: 50px;
  height: 50px;
}
.mobileNav .close span {
  height: 3px;
  width: 30px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
}
.mobileNav .close:hover > span {
  background: red;
}
.mobileNav .close span:first-child {
  transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
}
.mobileNav .close span:last-child {
  transform: translate3d(-50%, -50%, 0) rotateZ(-45deg);
}
.mobileNav.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -200;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.mobileNav .links {
  list-style: none;
}
.mobileNav .links li {
  margin-bottom: 20px;
  text-align: center;
}
.mobileNav .links li a {
  color: white;
}
.mobileNav .links li:hover > a {
  color: #e7cc42;
}

.introSection {
  min-height: calc(100vh - 140px);
  background: rgba(72, 150, 239, 0.7);
  padding: 0 130px;
  margin-top: 140px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introSection main {
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.introSection main .box1 {
  background: white;
  opacity: 1;
  color: black;
  padding: 30px 30px;
  overflow: hidden;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.7);
  position: relative;
}
.introSection main .box1 header {
  margin-bottom: 50px;
}
.introSection main .box1 header h1 {
  font-size: 64px;
  color: #0066ff;
  letter-spacing: 15px;
}
.introSection main .box1 header h2 {
  color: #478EF8;
}
.introSection main .box1 p {
  max-width: 400px;
  margin-bottom: 50px;
}
.introSection main .box1 button {
  width: fit-content;
  padding: 0 20px;
  height: 45px;
  font-size: 24px;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  border-left: 7px solid #478EF8;
  background-color: #E07A5F;
}
.introSection main .box1 button a {
  display: flex;
  height: 100%;
  width: 100%;
  color: #fff;
  align-items: center;
}
.introSection main .box2 {
  padding: 30px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.introSection main .box2 img {
  max-width: 600px;
  width: 100%;
}
.introSection main div {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 540px) {
  .introSection {
    padding: 0;
    height: calc(100vh - 140px);
  }
  .introSection main {
    height: 100%;
    grid-template-columns: 1fr;
  }
  .introSection main .box2 {
    display: none;
  }
}
.aboutUs {
  min-height: 400px;
  height: fit-content;
  width: 100%;
  background: #1D3557;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
}
.aboutUs main {
  max-width: 1000px;
  min-width: 300px;
  width: 100%;
  overflow: hidden;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.aboutUs main .logoSection {
  width: 100%;
  padding: 20px;
  height: 400px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}
.aboutUs main .logoSection img {
  width: 100%;
  object-fit: contain;
  transition: transform 1000ms ease-in-out;
  transform: translate3d(0, -150%, 0);
}
.aboutUs main .explanation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  color: #fff;
  padding: 50px 0px;
  max-width: 400px;
  overflow: hidden;
}
.aboutUs main .explanation p:not(:last-child) {
  margin-bottom: 20px;
}
.aboutUs main .explanation h1 {
  margin-bottom: 30px;
}
.aboutUs main .explanation > div {
  transition: transform 1000ms ease-in-out;
  transition-delay: 300ms;
  transform: translate3d(-150%, 0, 0);
}

.workSection {
  min-height: 100vh;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #1D3557;
}
.workSection > header {
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.workSection > header > h1 {
  padding-left: 50px;
  font-size: 64px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.workSection > .galleryPortions {
  display: grid;
  max-width: 900px;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: 20px;
  margin-bottom: 50px;
}
.workSection > .galleryPortions > div {
  background-color: #002255;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.4);
}
.workSection > .galleryPortions > div img {
  width: 100%;
  height: 100%;
}
.workSection button {
  height: 50px;
  width: 200px;
  border: none;
  border-left: 8px solid #478EF8;
  margin-left: 100px;
  background: #E07A5F;
}
.workSection button a {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
}

.contactSection {
  min-height: 100vh;
  padding: 20px;
  background: #001233;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactSection > main {
  max-width: 1300px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
.contactSection > main > form {
  max-width: 500px;
  min-width: 280px;
  width: 100%;
}
.contactSection > main > form > h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  margin-bottom: 50px;
}
.contactSection > main > form label {
  display: block;
  margin-bottom: 50px;
  max-width: 450px;
  height: 40px;
  position: relative;
}
.contactSection > main > form label > p {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: #fff;
  padding-left: 20px;
  transition: all 300ms ease-in-out;
}
.contactSection > main > form label input, .contactSection > main > form label textarea {
  width: 100%;
  height: 100%;
  font-size: 18px;
  border: none;
  background: #002466;
  border: none;
  outline: none;
  transition: background 300ms ease-in-out;
  color: #fff;
  padding-left: 20px;
}
.contactSection > main > form label textarea {
  min-height: 40px;
  height: 40px;
  resize: none;
  transition: min-height 300ms ease-in-out;
}
.contactSection > main > form label textarea:focus, .contactSection > main > form label textarea:valid {
  min-height: 120px;
}
.contactSection > main > form label > input:focus, .contactSection > main > form label textarea:focus {
  background: #ccdeff;
  color: #001233;
}
.contactSection > main > form label > input:focus ~ p, .contactSection > main > form label input:valid ~ p, .contactSection > main > form label textarea:focus ~ p, .contactSection > main > form label textarea:valid ~ p {
  transform: translateY(-35px);
  padding-left: 0;
}
.contactSection > main > form label input:required, .contactSection > main > form label textarea:required {
  max-width: 350px;
  width: 100%;
}
.contactSection > main > form label:nth-child(4) {
  min-height: 40px;
  height: auto;
  max-height: 100px;
  margin-bottom: 50px;
  transition: all 300ms ease-in-out;
}
.contactSection > main > form label:nth-child(4) input {
  height: 40px;
  transition: all 300ms ease-in-out;
}
.contactSection > main > form label:nth-child(4) p {
  top: 5px;
}
.contactSection > main > form label:nth-child(4) input:focus {
  height: 100px;
}
.contactSection > main > form label:nth-child(4) input:focus ~ p, .contactSection > main > form label:nth-child(4) input:valid ~ p {
  top: -5px;
}
.contactSection > main > form label:not(:last-child) input, .contactSection > main > form label > textarea {
  border-bottom: 3px solid #478EF8;
}
.contactSection > main > form label:last-child {
  width: fit-content;
  color: #fff;
}
.contactSection > main > form label:last-child input {
  background: #0466C8;
  border: none;
  width: fit-content;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  border-left: 8px solid #478EF8;
}
.contactSection > main > form label:last-child input:hover {
  background-color: #3799fb;
}
.contactSection > main > div {
  min-width: 300px;
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.contactSection > main > div .imageArea {
  width: 300px;
  height: 300px;
}
.contactSection > main > div .imageArea img {
  width: 100%;
  height: 100%;
}
.contactSection > main > div div:last-child p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.contactSection > main > div div:last-child p > a {
  display: block;
  width: 150px;
  padding: 0 5px;
  height: fit-content;
  margin: auto;
  color: #fff;
  background-color: #e07a5f;
}
.contactSection > main > div div:last-child p > a i {
  color: #001233;
  margin-right: 8px;
}

.servicesSection {
  background-color: #A8DADC;
  min-height: 600px;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.servicesSection > main {
  display: grid;
  max-width: 1000px;
  width: 100%;
  height: fit-content;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
  justify-content: center;
}
.servicesSection > main > header {
  width: 100%;
  border-right: 4px solid #1D3557;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #1D3557;
}
.servicesSection > main > .offers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  color: #1D3557;
  font-size: 16px;
}

@media screen and (max-width: 670px) {
  .servicesSection > main {
    grid-template-columns: 1fr;
  }
  .servicesSection > main > header {
    border: none;
    position: relative;
    padding: 30px 0px;
  }
  .servicesSection > main > header::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #E07A5F;
  }
}
.opinionSection {
  min-height: 700px;
  padding: 20px;
  padding-bottom: 100px;
  display: flex;
  flex-flow: column nowrap;
  background: #E07A5F;
  align-items: center;
}
.opinionSection > header {
  padding: 30px 0px;
  font-size: 36px;
  color: #fff;
  width: 100%;
}
.opinionSection > header > h1 span#bolder {
  font-weight: 1000;
}
.opinionSection > header > h1 span#slimmer {
  font-weight: 200;
  padding-left: 100px;
}
.opinionSection > main {
  display: grid;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 380px));
}
.opinionSection > main > div {
  background: #1D3557;
  padding: 20px;
  color: white;
}
.opinionSection > main > div > p {
  font-size: 15px;
  position: relative;
  margin-bottom: 30px;
}
.opinionSection > main > div > p::before {
  content: "";
  bottom: -20px;
  left: 0;
  width: 100px;
  height: 3px;
  position: absolute;
  background: #A8DADC;
}
.opinionSection > main > div > p > span {
  color: #E63946;
}

@media screen and (max-width: 540px) {
  .opinionSection > header {
    font-size: 28px;
  }
  .opinionSection > header > h1 span#slimmer {
    padding-left: 50px;
  }
}
.proofSection {
  padding: 50px 20px;
  background-color: #e9c46a;
  min-height: 600px;
}
.proofSection > header h1 {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  color: #1D3557;
}
.proofSection > header h1 span:first-child {
  font-weight: 2000;
}
.proofSection > header h1 span:last-child {
  font-weight: 300;
}
.proofSection > main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(250px, 300px);
  grid-gap: 20px;
}
.proofSection > main > .slideContainer {
  height: 100%;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
}
.proofSection > main > .slideContainer > .inputs {
  position: absolute;
  visibility: hidden;
}
.proofSection > main > .slideContainer > .imageContainer {
  height: 100%;
  width: 200%;
  position: relative;
  display: flex;
  left: 0%;
  transition: left 200ms ease-in-out;
}
.proofSection > main > .slideContainer > .imageContainer > img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  position: relative;
  left: 0%;
}
.proofSection > main > .slideContainer > .imageContainer::before, .proofSection > main > .slideContainer > .imageContainer::after {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;
  padding: 0 5px;
  color: #fff;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}
.proofSection > main > .slideContainer > .imageContainer::before {
  content: "BEFORE";
  left: 0%;
}
.proofSection > main > .slideContainer > .imageContainer::after {
  content: "AFTER";
  left: 50%;
}
.proofSection > main > .slideContainer input[id=r1And1]:checked ~ .imageContainer, .proofSection > main > .slideContainer input[id=r2And1]:checked ~ .imageContainer, .proofSection > main > .slideContainer input[id=r3And1]:checked ~ .imageContainer {
  left: 0;
}
.proofSection > main > .slideContainer input[id=r1And2]:checked ~ .imageContainer, .proofSection > main > .slideContainer input[id=r2And2]:checked ~ .imageContainer, .proofSection > main > .slideContainer input[id=r3And2]:checked ~ .imageContainer {
  left: -100%;
}
.proofSection > main > .slideContainer input[id=r1And1]:checked ~ .leftArrow, .proofSection > main > .slideContainer input[id=r2And1]:checked ~ .leftArrow, .proofSection > main > .slideContainer input[id=r3And1]:checked ~ .leftArrow {
  display: none;
}
.proofSection > main > .slideContainer input[id=r1And2]:checked ~ .rightArrow, .proofSection > main > .slideContainer input[id=r2And2]:checked ~ .rightArrow, .proofSection > main > .slideContainer input[id=r3And2]:checked ~ .rightArrow {
  display: none;
}
.proofSection > main > .slideContainer > .slideController {
  position: absolute;
  top: 50%;
  font-size: 30px;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.proofSection > main > .slideContainer > .slideController.leftArrow {
  left: 5%;
}
.proofSection > main > .slideContainer > .slideController.rightArrow {
  right: 5%;
}
.proofSection > main img {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 490px) {
  .proofSection > header > h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 490px) and (max-width: 380px) {
  .proofSection > header > h1 {
    font-size: 28px;
  }
}
.loader {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}
.loader > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader > div:before {
  --hue:240;
  --saturation:50%;
  --lightness:50%;
  content: "";
  width: 30px;
  height: 30px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-top-color: hsl(var(--hue), var(--saturation), var(--lightness));
  border-radius: 50%;
  animation-name: loadingAnimation;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.scrolling-down .navbar {
  top: -150px;
  opacity: 0;
}

.active {
  top: 0;
}

@media screen and (max-width: 1100px) {
  .navbar {
    height: 110px;
  }
  .navbar .mainNav {
    padding: 0px 50px;
    height: 70px;
  }
  .navbar .mainNav .logoArea {
    height: 70px;
    width: 70px;
  }
  .navbar .mainNav .logoArea img {
    width: 100%;
    height: 100%;
  }
  .navbar .mainNav .links li {
    width: 130px;
    height: 40px;
    background-color: #0066ff;
  }
  .navbar .mainNav .links li a {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar .mainNav .links li:hover:not(.active) a {
    color: #002255;
  }

  .introSection {
    padding-top: 30px;
    min-height: calc(100vh - 110px);
    margin-top: 110px;
  }
}
@media screen and (max-width: 1100px) and (max-width: 760px) {
  .navbar > .mainNav .links {
    display: none;
  }

  .navbar > .mainNav .burgerMenu {
    display: block;
  }

  .introSection {
    padding: 30px;
  }
}
@media screen and (max-width: 1100px) and (max-width: 540px) {
  .navbar {
    z-index: 100;
    background-color: #6da9ff;
  }

  .introSection {
    padding: 0;
  }
  .introSection main {
    box-shadow: 0px 0px 0px;
  }
  .introSection main .box-1 {
    box-shadow: none;
  }

  .aboutUs > main .logoSection {
    height: 300px;
  }
  .aboutUs > main .logoSection img {
    height: 100%;
  }

  .aboutUs > main > .explanation > div {
    transition-delay: 0ms;
  }

  .servicesSection {
    padding: 50px 30;
  }

  .workSection .gallery-portions {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-gap: 10px;
    margin-bottom: 50px;
    grid-template-areas: "img4 img4" "img1 img3" "img2 img3" "img5 img6";
  }
  .workSection button {
    margin-left: 0px;
    font-size: 18px;
    height: 45px;
    width: fit-content;
    padding: 0 20px;
  }
}
@media screen and (max-width: 1100px) and (max-width: 360px) {
  .introSection > main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .introSection > main .box-1 > button {
    font-size: 18px;
  }

  .introSection > main .box1, .box2 {
    max-width: 320px;
    width: 100%;
  }

  .workSection .galleryPortions {
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    grid-auto-rows: 200px;
    grid-gap: 10px;
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=Home.module.css.map */
